* {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    box-sizing: border-box;
    background: black;
    max-width: 100%;
    overflow-x: hidden;
}

.nav-header{
    height: 100vh;
    border-bottom: 10px solid rgb(34, 34,34);
}

.header-section{
  height:85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-header::before{
    content: "";
    background-image: url('images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;

}


#logo {
    height: 55px;
    width: 170px;
}

#selectInput {
    background: none;
    width: 100px;
    height: 40px;
    border-radius: 2px;

}

option{
    background-color: black;
}

#signin {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.76rem;
    border-radius: 3px;
    margin-left: 27px;
}

.main-title {
    font-size:4rem;
    color: white;
    font-weight: bold;
    line-height: 1.1;
}

.sub-title-1 {
    font-size: 2rem;
    color: white;

}

.sub-title-2 {
    font-size: 1.3rem;
}

#emailInput {
    border-radius: none;
    width: 100%;
    height: 100%;
    padding:1.5rem;
}

.getButton {
    border-radius: 0px;
    height: 100%;
    font-size: 1.8rem;
    width:100%;

}

.card-body{
    background: none;
}

.tv-section{
    border-bottom: 10px solid rgb(34, 34,34);
}

.tv-title{
    font-size:3.5rem;
    font-weight: bold;
    line-height: 1;
}

.tv-description{
    font-size:18px;
    margin-top:30px;
}


.faq{
    background-color: rgb(48,48,48);
}

.footer{
    width:100%;
    height:80%;
    display: flex;
    justify-content: center;
}

.footerComponent{
    width: 100%;
    width: 70%;
    margin-top:8%;
}

.footer-sub-title{
    font-size: 12px;
}

.frequentDiv{
    width: 70%;
    margin-top:3%;
}


@media only screen and (max-width:600px) {

    
#logo {
    height: 30px;
    width: 90px;
    margin-top: 4px;
    position: relative;
    left:-40px;
}

#selectInput {
    background: none;
    width: 80px;
    height: 28px;
    border-radius: 2px;

}

#signin {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.3rem;
    border-radius: 3px;
}

.main-title {
    font-size:2rem;
    color: white;
    font-weight: bold;
    line-height: 1.1;
}

.sub-title-1 {
    font-size: 1.3rem;
    color: white;

}

.sub-title-2 {
    font-size: 1rem;
}

#emailInput {
    border-radius: none;
    width: 100%;
    height: 50%;
    padding:1.5rem;
    margin-left: 5px;
}

.getButton {
    border-radius: 0px;
    height: 100%;
    font-size: 1.2rem;
    width:40%;

}

.tv-title{
    font-size:1.7rem;
    font-weight: bold;
}

  
}

@media only screen and (max-width:992px) {
    
  .download-section, .kids-section{
      display: flex;
      flex-direction: column-reverse;
  }
}


@media only screen and (min-width:600px) and (max-width:992px) {
    
    
    #logo {
        height: 50px;
        width: 150px;
        margin-top: 4px;
        position: relative;
        left:-30px;
    }
    
    #selectInput {
        background: none;
        width: 100px;
        height: 30px;
        border-radius: 2px;
        height:40px;
    
    }
    
    #signin {
        text-decoration: none;
        color: white;
        background-color: red;
        padding: 0.7rem;
        border-radius: 3px;
    }


    .main-title {
        font-size:3rem;
        color: white;
        font-weight: bold;
        line-height: 1.1;
    }
    
    .sub-title-1 {
        font-size: 1.5rem;
        color: white;
    
    }
    
    .sub-title-2 {
        font-size: 1.2rem;
    }
    
    #emailInput {
        border-radius: none;
        width: 100%;
        height: 50%;
        padding:2rem;
    }
    
    .getButton {
        border-radius: 0px;
        height: 100%;
        font-size: 1.2rem;
        width:25%;
    
    }
}
